.note{
    width: 265px;
    min-height: 40px;
    max-height: 210px;
    background-color: var(--color-text-white);
    border-radius: 4px;
    box-shadow: -9px 21px 61px -9px rgba(0,0,0,0.2);
    -webkit-box-shadow: -9px 21px 61px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: -9px 21px 61px -9px rgba(0,0,0,0.2);
    margin: 16px;
    padding: 24px;
    padding-top: 30px;
    overflow-wrap: break-word;

    position: relative;
    overflow-y: scroll;
}

.note img{
    position: absolute;
    right:0;
    top:0;
    width: 20px;
    padding: 10px;
    /* background-color: black; */
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}

.note img:hover{
    background-color: #ccdaf7;
}